<% layout('layouts/boilerplate')%> 

<h1 class="text-center">Mobilregister</h1>

<a class="btn btn-primary" href="/mobilregister/new" role="button">Ny användare</a>
<a class="btn btn-primary" href="/mobilregister/addPhone" role="button">Ny telefonmodell</a>

<div class="row">
    
    <form action="/mobilregister/" method="POST">
        <div class="col-6 offset-3">
            <div class="mb-3">
                <label class="form-label" for="name">Sök</label>
                <input class="form-control" type="text" id="search" name="search" >
            </div>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-8 offset-2">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Namn</th>
                    <th scope="col">Telefonnummer</th>
                    <th scope="col">Modell</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% for(let user of users) { %> 
                    <tr scope="row">
                        <td><%=user.name %></td>
                        <td><%=user.number %></td>
                        <td><%=user.model%> </td>
                        <td><%=user.status%></td>
                        <td>
                            <form class="d-inline" action="/mobilregister/<%=user.id%>/edit">
                                <button type="submit" class="btn btn-info">Redigera</button>
                            </form>
                            <form class="d-inline" action="/mobilregister/<%=user.id%>?_method=DELETE" method="POST">
                                <button type="submit" class="btn btn-danger">Ta bort</button>
                            </form>
                        </td>

                        
                    </tr>
                    <%  } %> 
            </tbody>
        </table>
    </div>
</div>

<script>
    function test(val){
        alert(val);
    }

</script>


